{% extends 'dashboard_base.html' %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}

{% block jsInit %} 
{{ block.super }}
	// why are we hiding the map?
	// $('#map').hide(); 
	{% if sample %}
		var sampleJson = JSON.parse("{{ sample.toMapDict|escapejs }}");
		showOnMap();
	{% endif %}
{% endblock jsInit %} 

{% block firstPackery %}
	<div class='item auto lockAspect' id='create_sample_from_label_num' data-isStamped="false">
		<i class="icon-lock-open pinDiv"></i><br />
	<ul>
		{% for message in messages %}
		<li class="{{ message.tags }}">
		{% if 'safe' in message.tags %} 
			{{message|safe|linebreaks }} 
		{% else %} 
			{{ message|linebreaks }} 
		{% endif %}
		</li> 
		{% endfor %}
	</ul>

	<form class="label_number_form" id="label_number_form" action="{% url 'xgds_sample_record_edit' %}" method="post" enctype="multipart/form-data">
		<strong> Look up sample </strong>
		<table>
			<tr>
				<th><label for="id_label_number">Label # or sample name:</label></th>
				<td><input id="id_label_number" maxlength="512" name="label_num_or_sample_name" type="text" /></td>
			</tr>
		</table>
		{% csrf_token %}
		<input id="record_sample_submit_btn" type="submit" value="Open"/> 
	</form>
	</div>
	{{ block.super }}
{% endblock firstPackery %}
