{% extends 'dashboard_no_map.html' %}
{% load static %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

{% block siteSection %}Sample Edit{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'xgds_sample/css/xgds_sample.css' %}"></link>
 {% endblock cssExtras %}

{% block preDashboard %}
<div id="messages">
	<ul>
			{% for message in messages %}
			<li class="{{ message.tags }}">
			{% if 'safe' in message.tags %} 
				{{message|safe|linebreaks }} 
			{% else %} 
				{{ message|linebreaks }} 
			{% endif %}
			</li> 
			{% endfor %}
		</ul>
		</div>
{% endblock preDashboard %}
{% block inDashboard %}
<div class="grid-stack-item noresize" id='create_sample_from_label_num'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="2" data-gs-height="1">
            <div class="grid-stack-item-content">
		<form class="label_number_form mt-negative-1rem" id="label_number_form" action="{% url 'xgds_sample_record_edit' %}" 
			method="post" enctype="multipart/form-data">
			<strong> Look up sample </strong>
			<table>
				<tr>
					<th><label for="id_label_number">Label # or sample name:</label></th>
					<td><input id="id_label_number" maxlength="512" name="label_num_or_sample_name" type="text" /></td>
				</tr>
			</table>
			{% csrf_token %}
			<input id="record_sample_submit_btn btn-primary" type="submit" value="Open" class="small"/> 
		</form>
	</div>
</div>
{% endblock inDashboard %}
