{% extends 'dashboard_base.html' %}
{% load url from future %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}


{% block jsInitPreApp %}
{% endblock jsInitPreApp %}

{% block otherJSInit %}
{% endblock otherJSInit %}

{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}


{% block firstPackery %}
{% endblock firstPackery %}

{% block lastPackery %}
{% endblock lastPackery %}
		
