{% extends 'xgds_sample/sampleDashboardBase.html' %}

 {% block cssExtras %}
 {{ block.super }}
 {% endblock cssExtras %}

{% block jsInit %} 
{{ block.super }}
{% endblock jsInit %} 

{% block firstPackery %}
	<div class='item auto lockAspect' id='item_sample_import' data-isStamped="false">
		<div class="error-message upload-error"></div>
		<i class="icon-lock-open pinDiv"></i><br />
		<div id="save-status"> {{status}} </div>
		
		{% if messages %}
		<div id="messages">
	  		{% for message in messages %}
	    	<p>{{ message }}</p>
	    	{% endfor %}
		</div>
		{% endif %}
		
		<form class="sampleCreate" id="sampleCreate" action="{% url 'create_new_sample' %}" method="post" enctype="multipart/form-data">
		<table>
		{{ form.as_table}}
		</table>
			{% csrf_token %}
			<input type="submit" value="create"/> 
		</form>
	</div>
	{{ block.super }}
{% endblock firstPackery %}
