{% extends 'xgds_sample/sampleDashboardBase.html' %}

{% block scripts %}
{{block.super}}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}xgds_sample/js/sampleSearch.js"></script>
{% endblock scripts %} 

{% block jsInit %} 
{{ block.super }}
	var sampleModel = '{{ settings.XGDS_SAMPLE_SAMPLE_MODEL }}';
	$("#samples_simple_search_btn").submit(function(event){
		doSimpleSearch(event);
	});	
	var formset = $('#formset_div').html();
	
	$("#advanced_search_button").click(function(){
		getAdvancedSearch(formset);
	});
{% endblock jsInit %} 

{% block otherJSInit %} 
{% endblock otherJSInit %} 

{% block content %}
{{ block.super }} 
<div id="formset_div" style="display:none">
	{{ formset.management_form }} 
	{% csrf_token %} 
	{% for form in formset %}
		<table> 
		{{ form.as_table }}
		</table>
	{% endfor %} 
</div>
{% endblock %}


{% block firstPackery %} 
<div class='item auto lockAspect' id='create_sample_from_label_num' data-isStamped="false">
	<i class="icon-lock-open pinDiv"></i><br />
	<ul>
		{% for message in messages %}
		<li class="{{ message.tags }}">
		{% if 'safe' in message.tags %}
		{{message|safe|linebreaks }} {% else %} {{ message|linebreaks }} 
		{% endif %}</li> 
		{% endfor %}
	</ul>

	<form class="sample_simple_search_form" id="sample_simple_search_form" action="" method="post">
		<strong> Search for sample </strong>
		<table>
			<tr>
				<th><label for="id_label_number">Label # or sample name:</label></th>
				<td><input id="id_label_number" maxlength="512" name="label_num_or_sample_name" type="text" /></td>
			</tr>
		</table>
		
		<a id='advanced_search_button'>Advanced Search</a>
		{% csrf_token %} <input id="samples_simple_search_btn" type="submit" value="Search" />
	</form>
</div>
{{ block.super }}
{% endblock firstPackery %}
