{% extends 'dashboard_base.html' %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}

{% block jsInitPreApp %}    
	var samplesJsonArray = {{ samplesJsonArray|safe }};
	var samplesArray = [];
	$(samplesJsonArray).each(function() {
		samplesArray.push(JSON.parse(this)); // parse json string
	});
	var aoColumns = [			   {"width": "20%", "mRender": function(data, type, full) {
	                            	   return "<img src='#'></img>"
	                               }},
	                               {"mRender":function(data, type, full){
	                            	   var sampleName = full['name'];
	                            	   var jsonString = JSON.stringify(full);
	                                   return "<a onclick='#'>"<!-- + sampleName + -->"</a>"; <!-- construct sample view -->
	                               }},
								   {"mData": "collector"},
								   {"mData": "type"},
	                               {"mData": "number"},
	                               {"mData": "region"},
	                               {"mData": "collection_time"},
	];
	setupTable('item_sample_table', 'sample_table', samplesArray, aoColumns);
{% endblock jsInitPreApp %}

{% block otherJSInit %}
	matchWidth('item_sample_table','map');
{% endblock otherJSInit %}

{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}


{% block firstPackery %}
<!-- Samples table -->
<div class='item w2 freeAspect' id='item_sample_table' data-isStamped="false">
	<i class="icon-lock-open pinDiv"></i>
	<div class="ttip" data-tooltip="remove selected samples"> <i class="icon-trash" id="delete_sample"></i> </div>
		<table cellpadding="0" cellspacing="0" border="0"  id="sample_table">
			<thead class="table_header">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Collector</th>
					<th>Type</th>					
				    <th>Number</th>
				    <th>Region</th>
				    <th>Collection time</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
</div>
{% endblock firstPackery %}

		
