{% extends 'dashboard_base.html' %}
{% load static %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'xgds_sample/css/xgds_sample.css' %}"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
	
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}


{% block preMap %}
<!-- Samples table -->
<div class="grid-stack-item" id='item_samples_table_div'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content" id='item_samples_table'>
            <ul class="nav justify-content-end">
				<i class="fa fa-unlock-alt pinDiv gray-light"></i>
			</ul>
	<div class="ttip mt-negative-1rem" data-tooltip="remove selected samples"> <i class="fa fa-trash-o" id="delete_sample"></i> </div>
		<table cellpadding="0" cellspacing="0" border="0"  id="samples_table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Date</th>					
				    <th>Region</th>
				    <th>Type</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
</div>
</div>
{% endblock preMap %}

		
