{% extends 'xgds_sample/sampleDashboardBase.html' %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}dropzone/dist/min/dropzone.min.css"></link>
 {% endblock cssExtras %}

{% block jsInit %} 
{{ block.super }}
{% endblock jsInit %} 

{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}dropzone/dist/dropzone.js'></script>
{% endblock scripts %}


{% block firstPackery %}
	{{ block.super }}
	<div class='item auto lockAspect' id='item_sample_import' data-isStamped="false">
		<div class="error-message upload-error"></div>
		<i class="icon-lock-open pinDiv"></i><br />
		<div id="save-status"> {{status}} </div>
		
		{% if messages %}
		<div id="messages">
	  		{% for message in messages %}
	    	<p>{{ message }}</p>
	    	{% endfor %}
		</div>
		{% endif %}
		
		<form class="sampleCreate" id="sampleCreate" action="{% url 'create_new_sample' %}" method="post" enctype="multipart/form-data">
			<table>
				<tr><th><label for="id_name">Name:</label></th><td><input id="id_name" maxlength="512" name="name" type="text" /></td></tr>
			</table>
			{% csrf_token %}
			<input type="submit" value="create"/> 
		</form>

		<div
			style="width: 100%; height: 20px; border-bottom: 1.5px solid black; text-align: center; margin-bottom: 20px">
			<span style="font-size: 15px; padding: 0 10px;">
				<strong> Or </strong>
			</span>
		</div>
	
		<form class="sampleCreate" id="sampleCreate" action="{% url 'create_new_sample' %}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<th><label for="id_type">Type:</label></th>
					<td><select id="id_type" name="type">
							<option value="" selected="selected">---------</option>
							<option value="1">biology</option>
					</select></td>
				</tr>
				<tr>
					<th><label for="id_region">Region:</label></th>
					<td><select id="id_region" name="region">
							<option value="" selected="selected">---------</option>
							<option value="1">Region object</option>
					</select></td>
				</tr>
				<tr>
					<th><label for="id_location">Location:</label></th>
					<td><select id="id_location" name="location">
							<option value="" selected="selected">---------</option>
					</select></td>
				</tr>
				<tr>
					<th><label for="id_number">Number:</label></th>
					<td><input id="id_number" name="number" type="number" /></td>
				</tr>
				<tr>
					<th><label for="id_triplicate">Triplicate:</label></th>
					<td><input id="id_triplicate" maxlength="2" name="triplicate"
						type="text" /></td>
				</tr>
				<tr>
					<th><label for="id_year">Year:</label></th>
					<td><input id="id_year" min="0" name="year" type="number" /></td>
				</tr>
		</table>
			{% csrf_token %}
			<input type="submit" value="create"/> 
		</form>
	</div>
{% endblock firstPackery %}
