{% extends 'dashboard_base.html' %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
    {% load nav %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
 {% include "xgds_notes2/NoteCSS.html" %}
  <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
	{% include "xgds_core/timeJS.html" %}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/datetimepickerUtils.js'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_sample/js/sampleReview.js'></script>
	
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}
addDateTimePicker("id_collection_time", $('#id_collection_timezone').val());

// initialize the notes when the window is ready
$(document).ready(function() {
	// hook position editing to set flag
	hookEditingPosition($('#updateSampleForm'));
	
	// show existing notes
	var container = $('#notes_content');
	var tbl = container.find('table#notes_list');
	initializeNotesReference(container, '{{form.instance.modelAppLabel}}', '{{form.instance.modelTypeName}}', '{{form.instance.pk }}', '{{form.instance.collection_time|date:"Y-m-d H:i:s"}}' + ' UTC', '{{form.instance.collection_timezone}}');
	getNotesForObject('{{form.instance.modelAppLabel}}', '{{form.instance.modelTypeName}}', '{{form.instance.pk }}', 'notes_content', tbl);

	// show the notes div
	var notes_input_div = $("#notes_input");
	notes_input_div.removeAttr('hidden');
	notes_input_div.show();
	
    initializeTags();
    var taginput = container.find('.taginput');
	initializeInput($(taginput)[0]);
 	hookNoteSubmit();

 	
});
{% endblock jsInit %} 


{% load xgds_sample_extras %}

{% block firstPackery %} 
<div class='item w2 lockAspect' id='item_sample_create' data-isStamped="false">
	<i class="icon-lock-open pinDiv"></i>
	<div class="error-message upload-error"></div>
	<div id="save-status"> {{status}} </div>
	
	{% if messages %}
	<div id="messages">
  		{% for message in messages %}
    	<p>{{ message }}</p>
    	{% endfor %}
	</div>
	{% endif %}
	<div><strong> Editing sample </strong></div>
	
	<form class="updateSample" id="updateSampleForm" action="{% url 'xgds_sample_record_update' form.instance.label.number %}" method="post" enctype="multipart/form-data">
		<input type=hidden name=sampleId value="{{ form.instance.pk }}">
		{% for hidden in form.hidden_fields %}
		{{ hidden }}
		{% endfor %}
		<table>
			<tr>
				<th><label for="id_label_number">Label Number:</label></th>
				<td><input id="id_label_number" maxlength="512" name="labelNum" type="text" value="{{ form.instance.label.number }}" readonly /></td>
			</tr>
			<tr class="sample_name_row">
				<th><label for="id_name">Name:</label></th>
				<td><input id="id_name" maxlength="512" name="name" type="text" placeholder="i.e NC16B001A" value="{{ form.instance.name }}"/></td>
			</tr>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
		<div id="sample-edit-button-group">
		<a href="recordSample" class="mybutton small">Cancel</a>
		<input class="mybutton small" id="sample-info-submit" type="submit" value="Save"/>
		</div>
	</form>
	<br><hr>
	<div id="complete_notes">
		<strong>Notes</strong>
		<div id="notes_content" class="tab-content active">
		{% include 'xgds_notes2/notes_input_include.html' %}
		{% include 'xgds_notes2/notes_table_small.html' %}
		</div>
	</div>
</div>
{{ block.super }}
{% endblock firstPackery %}