{% extends 'dashboard_no_map.html' %}
{% load json_dumps %}
{% load static %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
{% endblock %}

{% block siteSection %}Labels {% endblock %}

 {% block cssExtras %}
 {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'xgds_sample/css/xgds_sample.css' %}"></link>
 {% endblock cssExtras %}

{% block preLayout %}    
	var labelsArray = [];
	{% for label in labels %}
		labelsArray.push({{label.toMapDict|json_dumps|safe}});
	{% endfor %}
	
	var aoColumns = [{"mData":function(data, type, full){
                                return "<input type='checkbox' name='label_checkbox' value='" + data["pk"] +"'>";
                            }},
				   {"mData": function(data, type, full) {
				   if (data['sampleName'] != ''){
				   		var result = "<a href='/xgds_map_server/view/Sample/" + data['pk'] +  "'>" + data.number + "</a>";
				   	} else {
				   		var result = '' + data.number;
				   	}
				   	return result;
				   }},
                   {"mData": function(data, type, full) {
                   		if (data['sampleName'] != ''){
						   	return "<a href='/xgds_map_server/view/Sample/" + data['pk'] +  "'>" + data['sampleName']   + "</a>";
						} else {
							return '';
						}
				   }},
                   {"mData": function(data, type, full) {
				   		return "";
				   }}
				];
	setupTable('item_labels_table', 'labels_table', labelsArray, aoColumns);
	
{% endblock preLayout %}


{% block scripts %}
{{block.super}}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
	<script type="text/javascript">
		var printLabelsUrl = "{% url 'xgds_sample_labels_print' %}";
	    var labelsPdfUrl = "{{ file_url }}";
	</script>
    <script type="text/javascript" src="{% static 'xgds_sample/js/sampleLabels.js' %}"></script>
{% endblock scripts %}

{% block preDashboard %}
{% if messages %}
<div class="error-message upload-error">
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</div>
{% endif  %}
{% endblock preDashboard %}


{% block inDashboard %}
<div class="grid-stack-item" id='print_labels_div' data-gs-x="0"
	data-gs-y="0" data-gs-width="2" data-gs-height="1">
	<div class="grid-stack-item-content">
		<h4>Print New Labels</h4>
		<form class="print_labels_form" id="print_labels_form" action="{% url 'xgds_sample_labels_print' %}" method="post">
			<table>
				<tr>
					<th class="align-middle"><label for="id_label_quantity">Quantity:</label></th>
					<td><input id="id_label_quantity" maxlength="512" name="label_quantity" type="number"> <input id="print_labels_btn" type="submit" value="Print" class="btn btn-primary ml-1" /></td>
				</tr>
			</table>
			{% csrf_token %} 
			
		</form>
		<a href="#" id="show_labels" class="btn btn-primary">Show existing labels</a>
		
		<a href="{{file_url}}" id="download_file" hidden>Download PDF</a> <!-- necessary to avoid pop up blocker -->
	</div>
</div>

<!-- Labels table -->
<div id='item_labels_table'  class="grid-stack-item" 
		data-gs-x="2" data-gs-y="0"
        data-gs-width="4" data-gs-height="3">
        <div class="grid-stack-item-content">
	<form class="flex-column" id="labels_table_form" action="{% url 'xgds_sample_labels_print' %}" method="post">
		<div class="d-flex justify-content-between " style="width: 100%;">
			<div class="form-check" > 
				  <label for="hide_printed" class="form-check-label">
				    <input name="hide_printed" id="hide_printed" value="hide_printed" class="form-check-input" type="checkbox">
				    Hide Printed
				  </label>
			</div>
			<input type="submit" class="btn btn-primary" id="print_button" value="Print Selected" ></input>
		</div>
		<table id="labels_table" class="" >
			<thead>
				<tr>
					<th></th>
					<th>Label Number</th>
					<th>Sample Name</th>					
				    <th>Printed Date</th>
			    </tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</form>
</div>
</div>
{% endblock inDashboard %}

{% block jsInit %}
	{{ block.super }}
	var checkedLabelIds = $( "input[name*='checkbox']:checked" ).map(function(){ return parseInt(this.value) });
	$("#print_labels").val(checkedLabelIds);
{% endblock jsInit %}

		
