{% extends 'dashboard_base.html' %}

{% load json_dumps %}

{% block sitemenu-content-secondary %}
	{% include "sample_subnav.html" %}
    {% load nav %}
{% endblock %}

 {% block cssExtras %}
 {{ block.super }}
 {% include "xgds_notes2/NoteCSS.html" %}
  <link rel="stylesheet" type="text/css" href="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.css"></link>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}xgds_sample/css/xgds_sample.css"></link>
 {% endblock cssExtras %}


{% block scripts %}
{{block.super}}
	{% include "xgds_notes2/NoteJS.html" %}
	<script type="text/javascript" src='{{ EXTERNAL_URL }}/handlebars/handlebars.min.js'></script>
	<script type="text/javascript" src="{{ EXTERNAL_URL }}typeahead.js/dist/typeahead.bundle.min.js"></script> 
	{% include "xgds_core/timeJS.html" %}
	<script language="javascript" type="text/javascript" src="{{ EXTERNAL_URL }}jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js"></script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_core/js/datetimepickerUtils.js'></script>
	<script type="text/javascript">
		var collectors = {{ users|safe }};
	</script>
	<script type="text/javascript" src='{{ STATIC_URL }}xgds_sample/js/sampleEdit.js'></script>
	
    <!--  load handlebars -->
	{% for template_name, template in templates.items %}
		<script type="text/handlebars" id="template-{{template_name}}">
			{{template|safe}}
		</script>
	{% endfor %}
{% endblock scripts %}

{% block jsInit %} 
{{ block.super }}
addDateTimePicker("id_collection_time", $('#id_collection_timezone').val());

// initialize the notes when the window is ready
$(document).ready(function() {
	{% if form.instance %}
		showOnMap([{{form.instance.toMapDict|json_dumps|safe}}]);
	{% endif %}
	
	// show existing notes
	var container = $('#notes_content');
	var tbl = container.find('table#notes_list');
	initializeNotesReference(container, '{{form.instance.modelAppLabel}}', '{{form.instance.modelTypeName}}', '{{form.instance.pk }}', '{{form.instance.collection_time|date:"Y-m-d H:i:s"}}' + ' UTC', '{{form.instance.collection_timezone}}');
	getNotesForObject('{{form.instance.modelAppLabel}}', '{{form.instance.modelTypeName}}', '{{form.instance.pk }}', 'notes_content', tbl);

	// show the notes div
	var notes_input_div = $("#notes_input");
	notes_input_div.removeAttr('hidden');
	notes_input_div.show();
	
    var taginput = container.find('.taginput');
	initializeInput($(taginput)[0]);
 	hookNoteSubmit();
	showReplicateOptions();
	initializeSampleEditForm();
});
{% endblock jsInit %} 


{% load xgds_sample_extras %}

{% block preDashboard %}
{% if messages %}
<div class="error-message upload-error">
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
</div>
{% endif  %}
{% endblock preDashboard %}


{% block preMap %} 
<div class="grid-stack-item" id='item_sample_create'
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="3">
            <div class="grid-stack-item-content">
	<i class="icon-lock-open pinDiv"></i>
	
	<div><strong> Editing sample </strong></div>
	{% if form.errors %}
    <ol>
    {% for error in form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
	{% endif %}
	<form class="updateSample" id="updateSampleForm" action="{% url 'xgds_sample_record_update' form.instance.label.number %}" method="post" enctype="multipart/form-data">
		<input type=hidden name=sampleId value="{{ form.instance.pk }}">
		<table>
			<tr>
				<th><label for="id_label_number">Label Number:</label></th>
				<td>{{ form.instance.label.number }} </td>
			</tr>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
		<a class="toggleInputFields" onclick="return toggleAdvancedInput();"> Open out-of-sim fields </a>
		<div id="sample-edit-button-group">
			<a href="{% url 'xgds_sample_delete_label' form.instance.label.number %}" onclick="return confirm('Are you sure you want to permanently delete this sample and label?')"class="mybutton small">Delete</a>
			<a href="{% url 'xgds_sample_view' form.instance.pk %}" class="mybutton small">Cancel</a>
			<input class="mybutton small" id="sample-info-submit" type="submit" value="Save"/>
		</div>
	</form>
	
	<hr>
	<div id="complete_notes">
		<strong>Notes</strong>
		<div id="notes_content" class="tab-content active">
		{% include 'xgds_notes2/notes_input_include.html' %}
		{% include 'xgds_notes2/notes_table_small.html' %}
		</div>
	</div>
	</div>
</div>


{% endblock preMap %}

{% block postMap %}
<div class="grid-stack-item noresize" id='create_sample_from_label_num'
        data-gs-x="3" data-gs-y="3"
        data-gs-width="2" data-gs-height="1">
        <div class="grid-stack-item-content" >
		<i class="icon-lock-open pinDiv"></i><br />
		<form class="label_number_form" id="label_number_form" action="{% url 'xgds_sample_record_edit' %}" method="post" enctype="multipart/form-data">
			<strong> Look up sample </strong>
			<table>
				<tr>
					<th><label for="id_label_number">Label # or sample name:</label></th>
					<td><input id="id_label_number" maxlength="512" name="label_num_or_sample_name" type="text" /></td>
				</tr>
			</table>
			{% csrf_token %}
			<input id="record_sample_submit_btn" type="submit" class="small" value="Open"/> 
		</form>
	</div>
</div>
{% endblock postMap %}


