#lookupsample_table {
	border: 1px solid black;
	padding: 4px;
	display: inline-block;
}

#error-message {
	color: red;
}

li.error {
	color: red;
}

li.success {
	color: green;
}

#labels_table_wrapper {
	width: 100%;
}
