{% block sitemenu-content-secondary %}
{% load nav %}
	<nav class="subnav">
	<ul class="nav nav-pills">
		<li class="nav-item {% currentnav xgds_sample_record* %}"><a class="nav-link {% currentnav xgds_sample_record* %}" href="{% url 'xgds_sample_record_edit' %}">Record Samples</a></li>
		<li class="nav-item {% currentnav xgds_sample_labels* %}"><a class="nav-link {% currentnav xgds_sample_labels* %}" href="{% url 'xgds_sample_labels' %}">Print Labels</a></li>
		<li class="nav-item {% currentnav xgds_sample_fullsearch %}"><a class="nav-link {% currentnav xgds_sample_fullsearch %}" href="{% url 'xgds_sample_fullsearch'%}">Search Samples</a></li>
		<li class="nav-item {% currentnav xgds_sample_help* %}"><a class="nav-link {% currentnav xgds_sample_help* %}" href="{% url 'xgds_sample_help' %}">Help</a></li>
  	</ul>
  	</nav>
{% endblock %}
