<div class='item w2 lockAspect noresize' id='item_sample_search' data-isStamped="false">
	<ul class="nav justify-content-end ">
		<i class="fa fa-unlock-alt pinDiv gray-light mr-1"></i>
		<i class="fa fa-window-close fa-lg gray-light"></i>
	</ul>
	<form id="form-AbstractSample" action="" method="post">
		<table>
		{{{formset}}}
		</table>
		<input type="submit" id="samples_search_btn" class="small" value="Search" /> 
		&nbsp; 
		<span class="alert" id="message"></span>
	</form>
</div>