<div class='item w2 lockAspect noresize' id='item_sample_search' data-isStamped="false">
	<i class="fa fa-window-close fa-lg"></i>
	<i class="fa fa-unlock-alt pinDiv"></i><br />
	<form id="form-AbstractSample" action="" method="post">
		<table>
		{{{formset}}}
		</table>
		<input type="submit" id="samples_search_btn" class="small" value="Search" /> 
		&nbsp; 
		<span class="alert" id="message"></span>
	</form>
</div>